
$black: #323232;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$instock-blue: #004892;
$instock-blue-dark: #002F5F;
$brainflix-blue: #0095FF;
$brainflix-blue-sdark: #0065AD;
$white: #FFFFFF;