.comment {
  padding: 0 5%;
  border-bottom: 2px solid $mercury;

  &__heading {
    margin: 32px 0 40px 0;
  }

  &__send {
    display: flex;
    border-bottom: 2px solid $silver;

    &-box {
      width: 80%;
      margin-left: auto;
    }

    &-box h5 {
      text-transform: uppercase;
      color: $mercury;
    }

    &__name {
      background-color: $mercury;
      height: 30px;
      border-radius: 5px;
      border: 2px solid $silver;
      width: 96%;

      &-head {
        margin: 0 0 10px 0;
      }
    }

    &__name:focus {
      outline: none;
      border: 2px solid $black;
    }

    &__comment {
      background-color: $mercury;
      height: 100px;
      width: 96%;
      border-radius: 5px;
      border: 2px solid $silver;

      &-head {
        margin: 20px 0 10px 0;
      }
    }

    &__comment:focus {
      outline: none;
      border: 2px solid $black;
    }

    &__button {
      margin: 15px 0 32px 0;
      width: 100%;
      background-color: $black;
      color: $white;
      height: 50px;
      border-radius: 5px;
    }

    &__button:focus {
      outline: none;
    }
  }

  &__pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 28px;
  }

  &-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: $silver;
  }

  &__c {
    display: flex;
    width: 100%;
    flex-direction: column;

    &__body {
      display: flex;
      margin-top: 24px;
      border-bottom: 2px solid $silver;
    }

    &__textbody {
      width: 85%;
      margin-left: auto;

      &__heading {
        display: flex;
        margin-left: auto;
        justify-content: space-between;

        & h5 {
          margin: 0;
        }
      }
    }
  }
}
