@font-face {
  font-family: "a-regular";
  src: url("../../assets/_GlobalFont/AvenirNextProLT/regular.otf");
}

@font-face {
  font-family: "a-demi";
  src: url("../../assets/_GlobalFont/AvenirNextProLT/demi.otf");
}

@font-face {
  font-family: "a-bold";
  src: url("../../assets/_GlobalFont/AvenirNextProLT/bold.otf");
}

.header {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

.header__nav {
  width: 100%;
}

.header__logo {
  margin: 16px 0;
  display: block;
  text-align: center;
}

.header__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__menu-item {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.header__menu-item-link {
  text-decoration: none;
  color: #afafaf;
  font-family: a-demi;
}

.header__current {
  border-bottom: 1px solid white;
}

.header__current-link {
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3.125%;
  }
  .header__logo {
    display: inline;
  }
  .header__menu {
    display: inline;
  }
  .header__menu-item {
    display: inline;
    margin-left: 24px;
    padding-bottom: 22px;
  }
  .header__current {
    border-bottom: 4px solid white;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 12.5%;
  }
  .header__menu-item {
    margin-left: 56px;
  }
  .header__menu-item-link {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__menu-item-link:hover {
    background-color: #ffffff;
    color: #323232;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.5);
            box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.5);
  }
}

.hero {
  background-image: url("../../assets/Images/hero-image.jpg");
  height: 183px;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero__textbox {
  color: #ffffff;
  margin: 0 16px;
}

.hero__textbox-text {
  margin: 0;
  font-family: a-demi;
}

.showsHero {
  background-image: url("../../assets/Images/showHeroImage.jpg");
  height: 472px;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 5%;
  color: #ffffff;
}

.showsHero__iframe {
  height: 100px;
}

.showsHero__herotext {
  margin: 64px 0;
}

.showsHero__herotext-main {
  font-family: a-bold;
  font-size: 35px;
  margin: 20px 0 64px 0;
}

.showsHero__herotext-header {
  font-family: a-bold;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 400px;
    font-size: 40px;
  }
  .showsHero {
    padding: 0 3.125%;
    height: 670px;
  }
  .showsHero__iframe {
    width: 45%;
    height: 150px;
  }
  .showsHero__herotext-main {
    margin: 10% 30% 10% 0;
    font-size: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    padding: 0 12.5%;
    height: 670px;
  }
  .showsHero {
    padding: 0 12.5%;
  }
  .showsHero__herotext {
    margin: 160px 0;
  }
  .showsHero__herotext-main {
    margin: 48px 64px 0 0;
    font-size: 60px;
    width: 60%;
  }
  .showsHero__herotext-mainbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .showsHero__iframe {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 40%;
    height: 146px;
  }
}

.biography {
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.biography__heading {
  display: block;
}

.biography__heading-text {
  font-family: a-bold;
  margin: 32px 0 24px 0;
}

.biography__imagebox {
  padding: 0;
}

.biography__imagebox-image {
  width: 100%;
}

.biography__speech-text {
  font-family: a-demi;
  margin: 24px 0 32px 0;
}

.biography__speech-text2 {
  margin: 0;
  font-family: a-demi;
}

.biography__about {
  font-family: a-bold;
}

.biography__about-name {
  margin: 40px 0 24px 0;
}

.biography__about-p1 {
  line-height: 20px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .biography {
    padding: 0 3.125%;
  }
  .biography__imagebox img {
    height: 362px;
  }
  .biography__speech-text {
    font-size: 30px;
  }
  .biography__about-name {
    font-size: 25px;
  }
  .biography__about-p1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 17px;
  }
  .biography__about-p2 {
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .biography {
    padding: 0 12.5%;
  }
  .biography__heading-text {
    margin: 48px 0;
    font-size: 40px;
  }
  .biography__bio {
    padding: 0 8.5%;
  }
  .biography__imagebox img {
    height: 450px;
  }
  .biography__speech-text {
    font-size: 28px;
    margin: 48px 0 40px 0;
  }
  .biography__about-name {
    margin: 56px 0 32px 0;
  }
  .biography__about-p1 {
    margin-bottom: 48px;
  }
  .biography__about-p1 h5 {
    width: 420px;
    margin: 0;
  }
  .biography__about-p2 {
    margin-left: 40px;
  }
}

.gallery {
  padding: 20px 3.125% 20px 3.125%;
  background-color: #e1e1e1;
}

.gallery__header {
  font-family: a-demi;
}

.gallery__photo {
  width: 100%;
  margin-bottom: 16px;
}

.bottom-photo {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .gallery__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 40px;
  }
  .gallery__body img {
    width: 31%;
    height: 126px;
  }
  .gallery .middle-photo {
    margin: 0 3.125%;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery {
    padding: 0 12.5%;
  }
  .gallery__header {
    margin-bottom: 64px;
    padding-top: 48px;
    font-size: 30px;
  }
  .gallery__body {
    padding-bottom: 40px;
  }
  .gallery__body img {
    height: 193px;
    width: 31%;
  }
  .gallery__photo {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .gallery__photo:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
            box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
    z-index: 500;
  }
  .gallery .middle-photo {
    margin: 0 3.125%;
  }
}

.demi {
  font-family: a-demi;
}

.footer {
  padding: 20px 4%;
  background-color: #323232;
  color: #ffffff;
}

.footer__header {
  font-family: a-bold;
}

.footer__connect img {
  margin: 15px;
}

.footer__contact-email {
  text-decoration: none;
  color: #ffffff;
}

.footer__contact-copyright {
  display: block;
}

@media only screen and (max-width: 767px) {
  .footer__bandsite {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__header {
    margin-right: 5%;
    display: inline-block;
  }
  .footer__logo {
    display: inline-block;
    margin-right: auto;
  }
  .footer__connect img {
    margin: 0 10px;
  }
  .footer__connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 20px;
  }
  .footer__contact-email {
    font-size: 15px;
  }
  .footer__contact-copyright {
    display: inline-block;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding: 0 12.5%;
  }
  .footer__bandsite {
    font-size: 23px;
    display: inline-block;
    float: none;
    margin: 0;
    height: 24px;
    width: 120px;
  }
  .footer__header {
    margin: 48px 10px 56px 0;
  }
  .footer__logo a {
    margin-left: 32px;
  }
  .footer__logo img {
    margin: 0;
  }
  .footer__contact {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__contact-p {
    margin-right: 40px;
  }
  .footer__contact__p-t h5 {
    margin: 24px 0;
  }
  .footer__copyright {
    margin: 40px 0 40px 0;
  }
}

.hidden {
  display: none;
}

.bold {
  font-family: a-bold;
}

.demi {
  font-family: a-demi;
}

.key {
  color: #afafaf;
  text-transform: uppercase;
  font-family: a-demi;
}

.showsShow {
  padding: 0 5%;
  margin: 32px 0;
}

.showsShow__heading {
  font-family: a-bold;
  margin: 32px 0 0 0;
}

.showsShow__table {
  margin: 0;
  width: 100%;
  padding: 0;
}

.showsShow__table h3 {
  margin: 0;
}

.showsShow .start {
  margin-top: 40px;
}

.showsShow .middle {
  margin: 16px 0 24px 0;
}

.showsShow .end {
  margin: 16px 0 32px 0;
}

.showsShow__table td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showsShow__ticketbox {
  padding-bottom: 16px;
  border-bottom: 2px solid #e1e1e1;
}

.showsShow__ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  background-color: #323232;
  color: #ffffff;
  width: 100%;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.big-table {
  margin: 0;
  width: 100%;
  font-size: 12px;
}

.big-table__ticket {
  width: 15%;
}

.big-table thead {
  width: 100%;
}

.big-table thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.big-table thead tr th {
  text-align: start;
  width: 25%;
}

.big-table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-table tbody tr td {
  width: 25%;
}

.big-table__ticketrow {
  padding: 15px 0;
  border-bottom: 2px solid #e1e1e1;
}

@media only screen and (min-width: 1440px) {
  .big-table {
    width: 74%;
    margin-left: auto;
    font-size: 14px;
  }
  .big-table__ticket {
    height: 48px;
    width: 11.11%;
  }
  .big-table__ticketrow {
    padding-bottom: 16px;
  }
  .showsShow {
    padding: 0 12.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 48px 0;
  }
  .showsShow__heading {
    margin: 0;
    font-size: 40px;
  }
  .showsShow__ticket {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .showsShow__ticket:hover {
    background-color: #e1e1e1;
    color: #323232;
    cursor: pointer;
    font-family: a-bold;
  }
}

.fa-heart {
  color: red;
}

.comment {
  padding: 0 5%;
  border-bottom: 2px solid #e1e1e1;
}

.comment__like {
  margin-top: auto;
}

.comment__bottom__text {
  display: inline-block;
  margin: 0;
}

.comment__delete {
  margin-left: auto;
  margin-top: auto;
  color: #323232;
}

.comment__delete__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__delete:hover {
  cursor: pointer;
}

.comment__heading {
  margin: 32px 0 40px 0;
}

.comment__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #afafaf;
}

.comment__send-box {
  width: 80%;
  margin-left: auto;
}

.comment__send-box h5 {
  text-transform: uppercase;
  color: #e1e1e1;
}

.comment__send__name {
  background-color: #e1e1e1;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #afafaf;
  width: 99%;
}

.comment__send__name::-webkit-input-placeholder {
  padding-left: 16px;
}

.comment__send__name:-ms-input-placeholder {
  padding-left: 16px;
}

.comment__send__name::-ms-input-placeholder {
  padding-left: 16px;
}

.comment__send__name::placeholder {
  padding-left: 16px;
}

.comment__send__name-head {
  margin: 0 0 10px 0;
}

.comment__send__name:focus {
  outline: none;
  border: 2px solid #323232;
}

.comment__send__comment {
  background-color: #e1e1e1;
  height: 100px;
  width: 99%;
  border-radius: 5px;
  border: 2px solid #afafaf;
}

.comment__send__comment::-webkit-input-placeholder {
  padding-left: 16px;
}

.comment__send__comment:-ms-input-placeholder {
  padding-left: 16px;
}

.comment__send__comment::-ms-input-placeholder {
  padding-left: 16px;
}

.comment__send__comment::placeholder {
  padding-left: 16px;
}

.comment__send__comment-head {
  margin: 20px 0 10px 0;
}

.comment__send__comment:focus {
  outline: none;
  border: 2px solid #323232;
}

.comment__send__button {
  margin: 15px 0 32px 0;
  width: 100%;
  background-color: #323232;
  color: #ffffff;
  height: 50px;
  border-radius: 5px;
  text-transform: uppercase;
}

.comment__send__button:focus {
  outline: none;
}

.comment__pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 28px;
}

.comment-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #afafaf;
}

.comment__c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment__c__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  border-bottom: 2px solid #afafaf;
}

.comment__c__textbody {
  width: 85%;
  margin-left: auto;
}

.comment__c__textbody__body h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__c__textbody__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment__c__textbody__heading h5 {
  margin: 0;
}

#comment__default {
  margin-bottom: 40px;
}

.c3 {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .comment {
    padding: 0 3.125%;
  }
  .comment__heading {
    font-family: a-bold;
    font-size: 30px;
  }
  .comment__whole-body {
    margin: 0 13.8%;
  }
  .comment__pic {
    width: 50px;
    height: 50px;
    margin-top: 15px;
  }
  .comment__send__comment-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .comment__send__button {
    width: 40%;
    margin-left: auto;
  }
  .comment__send-box {
    width: 86%;
  }
}

@media only screen and (min-width: 1440px) {
  .comment {
    padding: 0 12.5%;
  }
  .comment__heading {
    margin: 48px 0 56px 0;
  }
  .comment__whole-body {
    margin: 0;
    width: 48.88%;
    margin: 0 auto;
  }
  .comment__send__name {
    height: 48px;
  }
  .comment__send__button {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .comment__send__button:hover {
    background-color: #e1e1e1;
    color: #323232;
    cursor: pointer;
    font-family: a-bold;
  }
  .comment__send__comment {
    height: 96px;
  }
  .comment__send__comment-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .comment__send__comment-head {
    margin: 24px 0 8px 0;
  }
  .comment__send__name-head {
    margin-bottom: 8px;
  }
  .comment__send-box {
    margin-left: 20px;
  }
  .comment__send__button {
    height: 48px;
    width: 160px;
    margin-left: auto;
  }
  .comment__pic {
    width: 48px;
    height: 48px;
  }
  .comment__c__textbody {
    margin-left: 16px;
  }
  .comment__c__body {
    margin-top: 24px;
  }
}

html,
body {
  font-family: a-regular;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */